@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&family=Ubuntu:wght@700&display=swap');
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding-left: 7rem;
    position: relative;
}

.left {
    display: block;
    position: relative;
    text-align: left;
    justify-content: left;
    align-items: left;
    -webkit-font-smoothing: antialiased;
}

.left h1 {
    font-size: 3.75rem;
    line-height: 1;
    padding-bottom: 1.5rem;
    letter-spacing: -.25rem;
    font-weight: 300;
    font-family: "Space Grotesk", Helvetica, sans-serif;
    color: #1d1d1b;
    margin-block-start: 0.83em;
    display: block;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.left p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1d1d1b;
    line-height: 1.35;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: var(--font-mono);
    letter-spacing: -.025rem;
    -webkit-font-smoothing: antialiased;
}

.ingrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1.5rem;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(33.33%, auto));
    padding-right: 1rem;
    padding-left: 1rem;
}

.card {
    height: auto;
    padding: 2.1rem;
    display: block;
    font-family: Calibre, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #1d1d1b;
    -webkit-font-smoothing: antialiased;
    align-items: left;
    font-size: .9rem;
}

.arrow {
    position: relative;
    font-family: Space Grotesk, Helvetica, sans-serif;
    font-weight: 700;
    font-size: .9rem;
    padding-right: 2rem;
    border-bottom: 0
}

.arrow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    background-image: url(https://www.minit.io/hubfs/2022/icons/dark/arrow--redesign.svg);
    background-size: 1.95rem;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s
}

.card p {
    padding-top: 0;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1;
    align-content: left;
    color: #1d1d1b;
}

.card span {
    padding: .25rem .5rem;
    border-radius: .25rem;
    background-color: #efefef;
    align-content: left;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1;
    color: #1d1d1b;
    font-family: Space Grotesk, Helvetica, sans-serif;
    font-weight: 700;
}

.card h2 {
    font-size: 1.25rem;
    height: 3.5rem;
    overflow-y: hidden;
    align-content: left;
    line-height: 1.35;
}

.figure {
    display: block;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.item_img {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.item_img a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 0;
}

.line {
    width: 1224px;
    height: 47px;
    border-bottom: 1px solid rgba(29, 29, 27, 0.15);
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0 7rem 0 7rem;
    display: block;
}

.listing_tags {
    position: relative;
    list-style: none;
    font-size: 0;
    padding: 0;
    text-align: left;
}

.listing_tags li {
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 0;
    padding-right: 1.5rem;
    padding-left: 0;
    padding-bottom: 0
}

.listing_tags li::before {
    content: none
}

.listing_tags::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(29, 29, 27, .15)
}

.tabs {
    display: block;
    position: relative;
    z-index: 1;
    padding: 2.25rem 0 2rem 0;
    color: #1d1d1b;
    border: 0
}

.tabs Image {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    width: 1rem;
    height: auto
}

.tabs_under {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #00c488;
    transition: all .3s
}

.tabs_under_hover {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    transition: all .3s
}

@media (hover: hover) and (pointer: fine) {
    .tabs:hover .tabs_under_hover {
        background-color: #00c488;
    }
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {}
    .card:hover span {}
    .card:hover h2 {
        color: #00c488;
    }
    .card:hover .arrow::after {
        -webkit-transform: translateX(.5rem);
        transform: translateX(.5rem)
    }
}


/* Tablet and Smaller Desktop */

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}