@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&family=Ubuntu:wght@700&display=swap');
.intro {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 7rem;
}

.left {
    display: block;
    justify-content: left;
    align-items: left;
    position: relative;
    padding: 1rem 0;
}

.left h1 {
    font-size: 4.5rem;
    line-height: 1;
    padding-bottom: 1.5rem;
    letter-spacing: -.25rem;
    font-weight: 300;
    font-family: "Space Grotesk", Helvetica, sans-serif;
    color: #1d1d1b;
    margin-block-start: 0.83em;
    display: block;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.left p {
    font-size: 1.35rem;
    font-weight: 400;
    padding-bottom: 2rem;
    color: #1d1d1b;
    line-height: 1.35;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: var(--font-mono);
    letter-spacing: -.025rem;
    -webkit-font-smoothing: antialiased;
}